## Get the processed data and Split it into training and testing

In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
# set the path of processed data
processed_data_path = os.path.join(os.path.pardir, 'data', 'processed')
df_data_path = os.path.join(processed_data_path, 'processed_Data_Employee-Attrition.csv')
df = pd.read_csv(df_data_path, index_col='EmployeeNumber')

In [5]:
df.head()

,Attrition,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
EmployeeNumber,,,,,,,,,,,,,,,,,,,,,
1,1,41,1102,1,2,2,0,94,3,2,...,0,0,0,0,0,1,0,0,0,1
2,0,49,279,8,1,3,1,61,2,2,...,0,0,0,0,1,0,0,0,1,0
4,1,37,1373,2,2,4,1,92,2,1,...,1,0,0,0,0,0,0,0,0,1
5,0,33,1392,3,4,4,0,56,3,1,...,0,0,0,0,1,0,0,0,1,0
7,0,27,591,2,1,1,1,40,3,1,...,1,0,0,0,0,0,0,0,1,0

In [6]:
#as_matrix creates a matrix and astype change all the value to type float
#ravel is numpy function which creates a one dimention array with values from columns specified. 

X = df.loc[:,'Age':].as_matrix().astype('float')
y = df['Attrition'].ravel()

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  after removing the cwd from sys.path.

In [7]:
print(X.shape, y.shape)

(1470, 48) (1470,)

In [12]:
#split the data into two parts training and testing
# train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.22, random_state=0)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(1146, 48) (1146,)
(324, 48) (324,)

In [13]:
# Average Attrition in train and test 
print(f"Mean Attrition in train : {np.mean(y_train)}")
print(f"Mean Attirtion in test : {np.mean(y_test)}")

Mean Attrition in train : 0.16055846422338568
Mean Attirtion in test : 0.16358024691358025

### Observations

 - ***First observation is Mean Attrition in train and test data are almost equal that shows that the data is split properly. We do not want too much difference in mean in other words We want positive cases to be distributed evenly in both trainig and test data.***

 - ***Second observation is almost of 16% of Attrition values are 1 rest are 0. We can use this information to build our base line model.***

## Baseline Model

 - **DummyClassifier** - Strategy to use to generate predictions.

      - “stratified”: generates predictions by respecting the training set’s class distribution.
      - “most_frequent”: always predicts the most frequent label in the training set.
      - “prior”: always predicts the class that maximizes the class prior (like “most_frequent”) and predict_proba          returns the class prior.
      - “uniform”: generates predictions uniformly at random.
      - “constant”: always predicts a constant label that is provided by the user. This is useful for metrics that          evaluate a non-majority class

In [15]:
from sklearn.dummy import DummyClassifier

In [16]:
# create base line Model with the value of most_requent
model_dummy = DummyClassifier(strategy='most_frequent', random_state=0)

In [17]:
# fit your training data to the model to learn
model_dummy.fit(X_train, y_train)

DummyClassifier(constant=None, random_state=0, strategy='most_frequent')

In [18]:
# provide your test values it will compare your predicted value to the actual value in test data set and provide score. 
print(f"Score for baseline Model: {model_dummy.score(X_test, y_test)}")

Score for baseline Model: 0.8364197530864198

In [20]:
# performance matrics
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score

In [21]:
#print Accuracy, Precission and Recall
print(f"Accurancy for baseline model: {accuracy_score(y_test, model_dummy.predict(X_test))}")
print(f"Precision for baseline model: {precision_score(y_test, model_dummy.predict(X_test))}")
print(f"Recall for baseline model: {recall_score(y_test, model_dummy.predict(X_test))}")

Accurancy for baseline model: 0.8364197530864198
Precision for baseline model: 0.0
Recall for baseline model: 0.0

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

- **Accuracy** - Compare predicted output with actual output. 
     - Accuracy = Correct / Total Count
     
 - **Precision & Recall**: 
 
 **Confution Metrix**
 
| | Predicted Negtive  |  Predicted Possitive |
|:---:|:---:|:---:|
|Actual Negative | True Negative (TN) | False Positive (FP)  |
|Actual Possitve | False Negative (FN)| True Positive (TP)   |
  
   **Precision**: What fraction of positive predictions are correct?
           TP / Total Positive Prediction = TP / TP + FP
           
   **Recall** : What fraction of positive cases you predicted correctly?
           TP / Total Positive Cases = TP / TP + FN